body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(135deg, #1e1e1e, #2b2b2b);
}

/* Container principal */
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0;
}

/* Box principal */
.login-boxfundo {
  background: linear-gradient(to right, #e2dbdb, #dadbe0);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #3f3939;
  width: 1000px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Cabeçalho */
h2 {
  margin-bottom: 20px;
  color: #1e1e1e;
}

/* Tabela estilo planilha */
.tabela {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #3f3939;
  border-radius: 15px;
  overflow: hidden;
}

.tabela-header, .tabela-linha {
  display: grid;
  /* Usuário | Patrimônio | Descrição | Data Empréstimo */
  grid-template-columns: 150px 1fr 1fr 1fr 160px; /* Exemplo de 4 colunas */
  padding: 10px;
  align-items: center;
  gap: 10px; /* Adiciona um pequeno espaço entre as colunas */
}
.input-com-botao {

  align-items: center;
  gap: 10px;
}

.input-com-botao input {
  margin-right: 10px;
  flex: 1;
}

.input-com-botao .btn-relatorio {
  white-space: nowrap;
  height: 100%;
}

.tabela-header {
  background-color: #3f3939;
  color: #fff;
  font-weight: bold;
}

.tabela-linha {
  background-color: #f5f5f5;
  color: #1e1e1e;
  border-top: 1px solid #ccc;
}

.tabela-linha:nth-child(even) {
  background-color: #e0e0e0;
}

.tabela-linha span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabela-linha button {
  background-color: #ff4d4d;
  border: none;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.tabela-linha button:hover {
  background-color: #e60000;
}
