* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  width: 100vh;
  min-height: 100vh;
  background-color: #363636;
  color: #333;
}

.sidebar {
  width: 220px;
  background-color: #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar.open {
  width: 220px;
}

.sidebar.closed {
  width: 0;
  padding: 0;
}
.header {
  width: 100vw;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
